# Netlifx databases cleaning

Multiple databases are at use, thus the cleaning is separated into multiple steps

## Small datasets

! add descriptions

In [1]:
import pandas as pd

nt1 = pd.read_csv("netflix_titles.csv")

In [10]:
nt1.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [11]:
nt2.columns

Index(['show_id', 'type', 'title', 'director', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in'],
      dtype='object')

In [12]:
nt3.columns

Index(['title', 'year', 'certificate', 'duration', 'genre', 'rating',
       'description', 'stars', 'votes'],
      dtype='object')

In [13]:
nt4.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [44]:
nt1.query("title == 'My Little Pony: A New Generation'")

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...

In [45]:
nt2.query("title == 'My Little Pony: A New Generation'")

,show_id,type,title,director,country,date_added,release_year,rating,duration,listed_in
23,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha",Not Given,9/24/2021,2021,PG,91 min,Children & Family Movies

In [46]:
nt3.query("title == 'My Little Pony: A New Generation'")

,title,year,certificate,duration,genre,rating,description,stars,votes
1222,My Little Pony: A New Generation,(2021),PG,90 min,"Animation, Adventure, Comedy",6.8,"After the time of the Mane 6, Sunny--a young E...","['Robert Cullen, ', 'José Luis Ucha, ', 'Mark ...","3,764"

In [47]:
nt4.query("title == 'My Little Pony: A New Generation'")

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...